---
import Footer from "../../components/shared/Footer.astro";
import Header from "../../components/shared/Header.astro";
import PageHeader from "../../components/shared/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { P2PVideoDemo } from "p2p-media-loader-demo";
---

<link
  rel="stylesheet"
  href="/_astro/_astro-entry_p2p-media-loader-demo.CVHv2Q25.css"
/>

<Layout
  title="P2P Media Loader"
  canonical="p2p-media-loader/demo"
>
  <Header />

  <div id="content">
    <article>
      <PageHeader htmlTitle="P2P Media Loader<br>Demo" />
      <div class="container">
        <script async defer is:inline src="https://buttons.github.io/buttons.js"></script>
        <a
          class="github-button"
          href="https://github.com/Novage/p2p-media-loader"
          data-size="large"
          data-show-count="true"
          aria-label="Star Novage/p2p-media-loader on GitHub">GitHub</a
        >
      </div>
      <P2PVideoDemo
        debugToolsEnabled={false}
        streamUrl="https://fcc3ddae59ed.us-west-2.playback.live-video.net/api/video/v1/us-west-2.893648527354.channel.DmumNckWFTqz.m3u8"
        client:only="react"
      />
    </article>
  </div>
</Layout>

<Footer />
