---
import Footer from "../../components/shared/Footer.astro";
import Header from "../../components/shared/Header.astro";
import PageHeader from "../../components/shared/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { P2PVideoDemo } from "p2p-media-loader-demo";
---

<Layout title="P2P Media Loader">
  <Header />

  <div id="content">
    <article>
      <PageHeader htmlTitle="P2P Media Loader<br>Demo" />
      <P2PVideoDemo debugToolsEnabled={false} client:only="react" />
    </article>
  </div>
</Layout>

<Footer />
