---
import { Picture } from "astro:assets";

interface Props {
  imgSrc: any;
  publicImgSrc: string;
  alt: string;
}

const { imgSrc, alt, publicImgSrc } = Astro.props;
---

<div class="image-block">
  <div class="image">
    <a href={publicImgSrc} target="_blank"
      ><Picture src={imgSrc} formats={["avif", "webp"]} alt={alt} /></a
    >
  </div>
  <div>
    <slot />
  </div>
</div>
