---
import { Picture } from "astro:assets";

interface Props {
  imgSrc: any;
  alt: string;
}

const { imgSrc, alt } = Astro.props;
---

<div class="image-block">
  <div class="image">
    <a href={imgSrc.src} target="_blank"
      ><Picture
        src={imgSrc}
        formats={["avif", "webp"]}
        alt={alt}
        loading="eager"
        decoding="auto"
      /></a
    >
  </div>
  <div>
    <slot />
  </div>
</div>
