---
import Footer from "../components/shared/Footer.astro";
import Header from "../components/shared/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
  <Header />
  <div id="content">
    <article>
      <div class="container">
        <h2>404</h2>
        <p><strong>Page not found :(</strong></p>
        <p>The requested page could not be found.</p>
      </div>
    </article>
  </div>
  <Footer />
</Layout>
