---
import "../../styles/services-list.css";
---

<div class="page container content">
  <div class="services-container">
    <div class="services">
      <div class="title"><h3><span>P2P Solutions</span></h3></div>
      <div class="list">
        <ul>
          <li>
            P2P video delivery - see <a href="/p2p-media-loader/demo">demo</a>
          </li>
          <li>Custom P2P CDN</li>
          <li>P2P applications development</li>
          <li>Maintance &amp; support</li>
          <li>Analysis &amp; optimization</li>
        </ul>
      </div>
      <div class="technology">
        <img src="/images/p2p.svg" alt="P2P" />
        <img src="/images/video-transcoding.svg" alt="Video Transcoding" />
        <img src="/images/web-rtc.svg" alt="WebRTC" />
        <img src="/images/nodejs.svg" alt="Node.js" />
      </div>
    </div>
    <div class="services">
      <div class="title"><h3><span>Web Development</span></h3></div>
      <div class="list">
        <ul>
          <li>Full stack web development</li>
          <li>CMS sites development</li>
          <li>Single page applications</li>
          <li>Maintance &amp; support</li>
          <li>Analysis &amp; optimization</li>
        </ul>
      </div>
      <div class="technology">
        <img src="/images/wordpress.svg" alt="WordPress" />
        <img src="/images/angular.svg" alt="Angular" />
        <img src="/images/react.svg" alt="React" />
        <img src="/images/express.svg" alt="Express" />
      </div>
    </div>
    <div class="services">
      <div class="title"><h3><span>Software Development</span></h3></div>
      <div class="list">
        <ul>
          <li>Product design</li>
          <li>Application development</li>
          <li>R&amp;D</li>
          <li>Maintance &amp; support</li>
          <li>Analysis &amp; optimization</li>
        </ul>
      </div>
      <div class="technology">
        <img src="/images/java.svg" alt="Java" />
        <img src="/images/typescript.svg" alt="TypeScript" />
        <img src="/images/c++.svg" alt="C/C++" />
        <img src="/images/php.svg" alt="PHP" />
      </div>
    </div>
  </div>
</div>
