<div class="container content">
  <div class="technology-container">
    <div class="technology"><img src="/images/java.svg" alt="Java" /></div>
    <div class="technology">
      <img src="/images/typescript.svg" alt="TypeScript" />
    </div>
    <div class="technology"><img src="/images/c++.svg" alt="C++" /></div>
    <div class="technology"><img src="/images/php.svg" alt="PHP" /></div>
    <div class="technology">
      <img src="/images/wordpress.svg" alt="Wordpress" />
    </div>
    <div class="technology"><img src="/images/nodejs.svg" alt="Node.js" /></div>
    <div class="technology">
      <img src="/images/angular.svg" alt="Angular" />
    </div>
    <div class="technology"><img src="/images/react.svg" alt="React" /></div>
    <div class="technology">
      <img src="/images/express.svg" alt="Express" />
    </div>
    <div class="technology"><img src="/images/p2p.svg" alt="P2P" /></div>
    <div class="technology">
      <img src="/images/video-transcoding.svg" alt="Video Transcoding" />
    </div>
    <div class="technology"><img src="/images/web-rtc.svg" alt="WebRTC" /></div>
  </div>
</div>
