---
import "../styles/main.css";

interface Props {
  title: string;
  canonical?: string;
}

const { title, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="/fonts/gstatic-TitilliumWeb-Regular.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/fa-solid-900.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.webp"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.webp"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.webp"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {canonical !== undefined && <link rel="canonical" href={`${Astro.site}${canonical}`} />}

    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer?.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "G-8XFLFKSSL7");

      document.addEventListener("DOMContentLoaded", () => {
        const script = document.createElement("script");
        script.src = "https://www.googletagmanager.com/gtag/js?id=G-8XFLFKSSL7";
        script.async = true;
        document.head.appendChild(script);
      });
    </script>

    <meta
      name="description"
      content="Consulting & Full Development Cycle. R&D provider."
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
