---
import "../styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/titilliumweb/v7/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="https://use.fontawesome.com/releases/v5.9.0/webfonts/fa-solid-900.woff2"
      as="font"
      crossorigin
    />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Consulting & Full Development Cycle" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-123521518-1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer?.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "UA-123521518-1");
    </script>

    <meta name="description" content="Consulting & Full Development Cycle" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
